#all projects
node_modules/
.DS_Store

#poster
poster/public/

#address-label & address-label1
address-label/public/
address-label1/public/

#credit-card
credit-card/public/

#single-line-email
single-line-email/public/
